/* === EVENTUELE LATEREN TOEVOEGINGEN === */

/* font-size:clamp(1em, 5vw, 2em) */
/* font-size:clamp(1em, cqw, 2em) */

/* === GLOBAL === */

body {
    --font-primary: "Brutal Type";

    --font-size-s: 10px;
    --font-size-m: 12px;
    --font-size-l: 16px;
    --font-size-xl: 28px;

    --line-height-s: 15px;
    --line-height-m: 18px;
    --line-height-l: 24px;

    --font-weight-baseline: 900;

    line-height: var(--line-height-l);
    font-family: var(--font-primary);
}

/* === KLEUREN === */

/* Veronica */
.veronica-primary {
    --brand-primary: #0091FF;
}

.veronica-secondary {
    --brand-secondary: #E60063;
}

.veronica-footer {
    --brand-footer: #011564;
}

.veronica-background-neutral {
    --background-neutral: #fafafa;     
}

.veronica-neutral {
    --brand-neutral: #ffffff;
}

.veronica-text-primary {
    --text-primary: #000000;
}

.veronica-text-secondary {
    --text-secondary: #8B8B8B;
}

.veronica-text-on-brand {
    --text-on-brand: #ffffff;
}

/* Slam */
.slam-primary {
    --brand-primary: #000000;
}

.slam-secondary {
    --brand-secondary: #E60063;
}

.slam-neutral {
    --brand-neutral: #222222;
}

.slam-background-neutral {
    --background-neutral: #000000;
}

.slam-text-primary {
    --text-primary: #FFFFFF;
}

.vtext-secondary {
    --text-secondary: #5D5D5D;
}

/* Sublime */
.sublime-primary {
    --brand-primary: #1A1E1D;
}

.sublime-secondary {
    --brand-secondary: #CCFFA3; 
}

.sublime-neutral {
    --brand-neutral: #1A1E1D; 
}

.sublime-background-neutral {
    --background-neutral: #252929; 
}

.sublime-text-primary {
    --text-primary: #FFFFFF;
}

.sublime-text-secondary {
    --text-secondary: #8D8F8E;
}

/* 100%NL */
.honderdp-primary {
    --brand-primary: #000000; 
}

.honderdp-secondary {
    --brand-secondary: #10A637;
}

.honderdp-neutral {
    --brand-neutral: #FAFAFA;
}

.honderdp-background-neutral {
    --background-neutral: #FFFFFF;
}

.honderdp-text-primary {
    --text-primary: #1E1E1E;
}

.honderdp-text-secondary {
    --text-secondary: #8B8B8B;
}

/* Kleuren in classes */
.primary {
    background-color: var(--brand-primary);
}

.secondary {
    background-color: var(--brand-secondary);
}

.footer {
    background-color: var(--brand-footer);
}

.neutral {
    background-color: var(--brand-neutral);
}

.background-neutral {
    background-color: var(--background-neutral);
}

.text-primary {
    color: var(--text-primary);
}

.text-secondary {
    color: var(--text-secondary);
}

.text-on-brand {
    color: var(--text-on-brand);
}

/* === TYPOGRAFIE === */

/* @fontface */
/* Extra Light */
@font-face {
    font-family: 'Brutal Type';
    src: url('./font/BrutalType-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

/* Medium */
@font-face {
    font-family: 'Brutal Type';
    src: url('./font/BrutalType-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

/* Bold */
@font-face {
    font-family: 'Brutal Type';
    src: url('./font/BrutalType-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* Thin */
@font-face {
    font-family: 'Brutal Type';
    src: url('./font/BrutalType-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

/* Extra Bold */
@font-face {
    font-family: 'Brutal Type';
    src: url('./font/BrutalType-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

/* Black */
@font-face {
    font-family: 'Brutal Type';
    src: url('./font/BrutalType-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

/* Light */
@font-face {
    font-family: 'Brutal Type';
    src: url('./font/BrutalType-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

/* Brutal Type Normal */
@font-face {
    font-family: 'Brutal Type';
    src: url('./font/BrutalType.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.font-nav-primary {
    /* font: var(--font-primary); */
    color: var(--text-on-brand);
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-baseline);
}

.font-nav-secondary {
    /* font: var(--font-primary); */
    color: var(--brand-secondary);
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-baseline);
}

.font-card-title {
    /* font: var(--font-primary); */
    color: var(--text-primary);
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-baseline);
}

.font-card-description {
    /* font: var(--font-primary); */
    color: var(--text-secondary);
    font-size: var(--font-size-l);
}

.font-card-info {
    /* font: var(--font-primary); */
    color: var(--text-secondary);
    font-size: var(--font-size-m);
    line-height: var(--line-height-m);
}

.font-info {
    /* font: var(--font-primary); */
    color: var(--text-primary);
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-baseline);
}

.font-title {
    /* font: var(--font-primary); */
    color: var(--text-primary);
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-baseline);
}


/* === FORMULIEREN === */

.icon-search {
    font-size: var(--font-size-s);
    line-height: var(--line-height-s);
    color: var(--text-on-brand);
    height: 24px;
    width: 24px;
}

.button-highlight {
    font-size: var(--font-size-s);
    line-height: var(--line-height-s);
    color: var(--text-on-brand);
    background-color: var(--brand-secondary);
    height: 24px;
    width: 24px;
    padding: 8px 16px;
    opacity: 0.5;
}

.input-placeholder {
    font-size: var(--font-size-l);
    color: var(--text-secondary);
    padding: 7px 16px;
}
