
/* font-size:clamp(1em, 5vw, 2em) */
/* font-size:clamp(1em, cqw, 2em) */

/* global */
body {
    --font-primary: "Brutal Type";

    --font-size-s: 10px;
    --font-size-m: 12px;
    --font-size-l: 16px;
    --font-size-xl: 28px;

    --line-height-s: 15px;
    --line-height-m: 18px;
    --line-height-l: 24px;

    --font-weight-baseline: 900;
}

/* Kleuren */
/* Veronica */
.brand-primary-veronica {
    --brand-primary: #0091FF;
}

.brand-secondary-veronica {
    --brand-secondary: #E60063;
}

.brand-footer-veronica {
    --brand-footer: #011564;
}

.background-neutral-veronica {
    --background-neutral: #fafafa;     
}

.brand-neutral-veronica {
    --brand-neutral: #ffffff;
}

.text-primary-veronica {
    --text-primary: #000000;
}

.text-secondary-veronica {
    --text-secondary: #8B8B8B;
}

.text-on-brand-veronica {
    --text-on-brand: #ffffff;
}

/* Slam */
.brand-primary-slam {
    --brand-primary: #000000;
}

.brand-secondary-slam {
    --brand-secondary: #E60063;
}

.brand-neutral-slam {
    --brand-neutral: #222222;
}

.background-neutral-slam {
    --background-neutral: #000000;
}

.text-primary-slam {
    --text-primary: #FFFFFF;
}

.text-secondary-slam {
    --text-secondary: #5D5D5D;
}

/* Sublime */
.brand-primary-sublime {
    --brand-primary: #1A1E1D;
}

.brand-secondary-sublime {
    --brand-secondary: #CCFFA3; 
}

.brand-neutral-sublime {
    --brand-neutral: #1A1E1D; 
}

.background-neutral-sublime {
    --background-neutral: #252929; 
}

.text-primary-sublime {
    --text-primary: #FFFFFF;
}

.text-secondary-sublime {
    --text-secondary: #8D8F8E;
}

/* 100%NL */
.brand-primary-100p {
    --brand-primary: #000000; 
}

.brand-secondary-100p {
    --brand-secondary: #10A637;
}

.brand-neutral-100p {
    --brand-neutral: #FAFAFA;
}

.background-neutral-100p {
    --background-neutral: #FFFFFF;
}

.text-primary-100p {
    --text-primary: #1E1E1E;
}

.text-secondary-100p {
    --text-secondary: #8B8B8B;
}

/* Kleuren in classes */
.brand-primary {
    background-color: var(--brand-primary);
}

.brand-secondary {
    background-color: var(--brand-secondary);
}

.brand-footer {
    background-color: var(--brand-footer);
}

.brand-neutral {
    background-color: var(--brand-neutral);
}

.background-neutral {
    background-color: var(--background-neutral);
}

.text-primary {
    background-color: var(--text-primary);
}

.text-secondary {
    background-color: var(--text-secondary);
}

.text-on-brand {
    background-color: var(--text-on-brand);
}

/* Typografie */
/* @fontface */
/* Extra Light */
@font-face {
    font-family: 'Brutal Type';
    src: url('./font/BrutalType-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

/* Medium */
@font-face {
    font-family: 'Brutal Type';
    src: url('./font/BrutalType-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

/* Bold */
@font-face {
    font-family: 'Brutal Type';
    src: url('./font/BrutalType-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* Thin */
@font-face {
    font-family: 'Brutal Type';
    src: url('./font/BrutalType-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

/* Extra Bold */
@font-face {
    font-family: 'Brutal Type';
    src: url('./font/BrutalType-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

/* Black */
@font-face {
    font-family: 'Brutal Type';
    src: url('./font/BrutalType-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

/* Light */
@font-face {
    font-family: 'Brutal Type';
    src: url('./font/BrutalType-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

/* Brutal Type Normal */
@font-face {
    font-family: 'Brutal Type';
    src: url('./font/BrutalType.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    line-height: var(--line-height-l);
    font-family: var(--font-primary);
}

.font-nav-primary {
    /* font: var(--font-primary); */
    color: var(--text-on-brand);
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-baseline);
}

.font-nav-secondary {
    /* font: var(--font-primary); */
    color: var(--brand-secondary);
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-baseline);
}

.font-card-title {
    /* font: var(--font-primary); */
    color: var(--text-primary);
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-baseline);
}

.font-card-description {
    /* font: var(--font-primary); */
    color: var(--text-secondary);
    font-size: var(--font-size-l);
}

.font-card-info {
    /* font: var(--font-primary); */
    color: var(--text-secondary);
    font-size: var(--font-size-m);
    line-height: var(--line-height-m);
}

.font-info {
    /* font: var(--font-primary); */
    color: var(--text-primary);
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-baseline);
}

.font-title {
    /* font: var(--font-primary); */
    color: var(--text-primary);
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-baseline);
}


/* Formulier elementen */
.icon-search {
    font-size: var(--font-size-s);
    line-height: var(--line-height-s);
    color: var(--text-on-brand);
    height: 24px;
    width: 24px;
}

.button-highlight {
    font-size: var(--font-size-s);
    line-height: var(--line-height-s);
    color: var(--text-on-brand);
    background-color: var(--brand-secondary);
    height: 24px;
    width: 24px;
    padding: 8px 16px;
    opacity: 0.5;
}

.input-placeholder {
    font-size: var(--font-size-l);
    color: var(--text-secondary);
    padding: 7px 16px;
}
