/* Schrijf hier de verschillende stijlen, die gedeeld gaan
   worden door jullie projecten */

/* font-size:clamp(1em, 5vw, 2em) */
/* font-size:clamp(1em, cqw, 2em) */
/* Kleuren */
body {
    --font-primary: "Brutal Type";

    --brand-primary: #0091FF;
    --brand-secondary: #E60063;
    --brand-footer: #011564;
    --brand-neutral: #fafafa;

    --background-neutral: #ffffff;

    --text-primary: #000000;
    --text-secondary: #8B8B8B;
    --text-on-brand: #ffffff;

    --font-size-28: 28px;
    --font-size-16: 16px;
    --font-size-12: 12px;
    --font-size-10: 10px;

    --line-height-24: 24px;
    --line-height-18: 18px;
    --line-height-15: 15px;

    --font-weight-900: 900;
}

.brand-primary {
    background-color: var(--brand-primary);
}
.brand-secondary {
    background-color: var(--brand-secondary);
}
.brand-footer {
    background-color: var(--brand-footer);
}
.brand-neutral {
    background-color: var(--brand-neutral);
}

.background-neutral {
    background-color: var(--background-neutral);
}

.text-primary {
    background-color: var(--text-primary);
}
.text-secondary {
    background-color: var(--text-secondary);
}
.text-on-brand {
    background-color: var(--text-on-brand);
}



/* Typografie */
* {
    line-height: var(--line-height-24);
}

.font-nav-primary {
    font: var(--font-primary);
    color: var(--text-on-brand);
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-900);
}

.font-nav-secondary {
    font: var(--font-primary);
    color: var(--brand-secondary);
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-900);
}

.font-card-title {
    font: var(--font-primary);
    color: var(--text-primary);
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-900);
}

.font-card-description {
    font: var(--font-primary);
    color: var(--text-secondary);
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-900);
}

.font-card-info {
    font: var(--font-primary);
    color: var(--text-secondary);
    font-size: var(--font-size-12);
    font-weight: var(--font-weight-900);
    line-height: var(--line-height-18);
}

.font-info {
    font: var(--font-primary);
    color: var(--text-primary);
    font-size: var(--font-size-28);
    font-weight: var(--font-weight-900);
}

.font-title {
    font: var(--font-primary);
    color: var(--text-primary);
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-900);
}


/* Formulier elementen */
.icon-search {
    font-size: var(--font-size-10);
    line-height: var(--line-height-15);
    color: var(--text-on-brand);
    height: 24px;
    width: 24px;
}

.button-highlight {
    font-size: var(--font-size-10);
    line-height: var(--line-height-15);
    color: var(--text-on-brand);
    background-color: var(--brand-secondary);
    height: 24px;
    width: 24px;
    padding: 8px 16px;
    opacity: 0.5;
}

.input-placeholder {
    font-size: var(--font-size-16);
    color: var(--text-secondary);
    padding: 7px 16px;
}



/* ****** */
.tijd-lijn {
    /* standaard styling weghalen */
    list-style-type: none;
    list-style: none;

    /* verticale list */
    display: flex;
    flex-direction: column;

    li {
        /* spatie tussen li */
        position: relative;
        padding: 2em;
    }

    li::after {
        /* de lijn */
        content: "- - - - -";

        position: absolute;

        /* 90deg draaien, en dan 70% naar links */
        transform: translateX(-70%) rotate(90deg);

        /* spatie tussen li en content */
        margin-top: 3em;
        margin-bottom: 3em;

        /* lijn gaat niet over naar de volgende regel */
        white-space: nowrap;
    }

    /* geen lijn na de laaste li */
    li:last-child::after {
        content: '';
    }
}

