/* Schrijf hier de verschillende stijlen, die gedeeld gaan worden door jullie projecten */

/* Kleuren */
:root {
    --brand-primary: rgb(0 145 255);
    --brand-secondary: rgb(254 1 112);
    --brand-footer: rgb(1 21 100);
    --background-neutral: rgb(255 255 255);
    --brand-neutral: rgb(250 250 250);
    --text-primary: rgb(0 0 0);
    --text-secondary: rgb(139 139 139);
    --text-on-brand: rgb(255 255 255);

    /* Typografie */
    --font-primary: "Brutal Type", sans-serif; 
}

/* Typografie */
body {
    font-family: var(--font-primary);
}

.font-nav-primary {
    font-size: 20px;
    font-weight: 900; 
    line-height: 24px;
    color: var(--text-on-brand);
}

.font-nav-secondary {
    font-size: 16px;
    font-weight: 900; 
    line-height: 24px;
    color: var(--text-secondary);
}

.font-nav-secondary-active {
    font-size: 16px;
    font-weight: 900; 
    line-height: 24px;
    color: var(--brand-secondary);
}

.font-card-title {
    font-size: 16px;
    font-weight: 900; 
    line-height: 24px;
    color: var(--text-primary);
}

.font-card-description {
    font-size: 12px;
    line-height: 24px;
    color: var(--text-secondary);
}

.font-card-info {
    font-size: 12px;
    line-height: 18px;
    color: var(--text-secondary);
}

.font-info {
    font-size: 28px;
    font-weight: 900;
    line-height: 24px;
    color: var(--text-primary);
}

.font-info {
    font-size: 16px;
    font-weight: 900;
    line-height: 24px;
    color: var(--text-primary);
}

/* Formulier elementen */
.icon-search {
    font-size: 10px; 
    height: 24px; 
    width: 24px; 
    line-height: 15px; 
    color: var(--text-on-brand);
}

.button-highlight {
    font-size: 16px; 
    font-weight: 900; 
    line-height: 24px;
    border-radius: 8px; 
    padding: 8px 16px; 
    color: var(--text-on-brand);
    background-color: var(--brand-secondary);
}

.input-placeholder {
    font-size: 16px; 
    line-height: 24px; 
    padding: 7px 16px;
    color: var(--text-secondary);
}

.icon {
    color: var(--text-on-brand);
    background-color: var(--brand-secondary);
}

.icon-hover {
    color: var(--brand-secondary);
    background-color: var(--brand-neutral);
}